tensorflow==2.18.1
mediapipe==0.10.21
numpy==1.26.4
opencv-python==4.11.0.86
matplotlib==3.10.3
git+https://github.com/voxelmorph/voxelmorph.git@923a37d51b0c8d93eb576156c07ecb25c2a4e730#egg=voxelmorph
git+https://github.com/adalca/neurite.git@40c6d0e277b12dc9dddb6e76f2dbdd373b7d22b1#egg=neurite